.input_contact {
  padding: 20px;
  display: block;
  border: 1px solid #74054f;
  width: 300px;
}

label {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

button {
  background-color: rgb(248, 211, 242);
}

.add_button {
  border-color: rgb(172, 49, 165);
  margin-top: 15px;
  border-radius: 15px;
  padding-bottom: 5px;
  width: 200px;
}

.phonebook_icon {
  padding-left: 10px;
}
